# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environment
venv/
.env/


# Jupyter
.ipynb_checkpoints/


# VSCode
.vscode/


# Data caches
*.csv
!data/train.csv
!data/test.csv
!data/processed/train_processed.csv
!data/processed/val_processed.csv
!data/processed/test_processed.csv


# Models
results/*.pkl


# Plots
results/plots/*.png